<nav class="navbar bottom bg-dark">
  <div class="container-fluid">
    <div class="col-9">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link nav-item-black" aria-current="page" href="#"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link nav-item-black" href="#">New Survey</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-item-black" href="#">Recent Surveys</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-item-black" href="#">About Us</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <h5 class="footer-text">
        &copy; 2021 Copyright SAUCED <br />
        Designed by PKNSL
      </h5>
    </div>
  </div>
</nav>
