<hr id="bootstrap-overrides" />
<div class="row text-center">
  <div class="col-md-9">
    <a class="nav-link footer-link" href="/home">Home</a>
    <a class="nav-link footer-link" href="/survey/public">All Surveys</a>
    <% if (display != '') { %>
    <a class="nav-link footer-link" href="/survey/create">New Survey</a>
    <a class="nav-link footer-link" href="/survey/private">My Surveys</a>
    <% } %>
    <a class="nav-link footer-link" href="/about">About Us</a>
  </div>
  <br /><br />
  <div class="col-md-3">
    <p id="footer-text">
      &copy; 2021 Copyright SAUCED <br />
      Designed by <a href="www.pknsl.com">PKNSL</a>
    </p>
  </div>
</div>
