body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.navbar.center .navbar-inner {
  text-align: center;
}

.border-md-right {
  border-right: 1px solid silver;
}

@media (max-width: 768px) {
  .border-md-right {
    border-right: none;
  }
}

.nav-title {
  color: rgba(255, 255, 255, 0.55);
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: absolute;
  left: 50%;
  top: 5%;
  margin-left: -50px !important; /* 50% of your logo width */
  display: block;
  text-align: center;
}
