.question-text {
  font-size: 28px;
}

.answer-text {
  font-size: 28px;
}

/*IMPORTANT*/

body {
  /*General style*/
  font: 14px "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  background-color: #212529;
  color: rgba(255, 255, 255, 0.75);
  padding: 5rem;
}

p {
  /*General style*/
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.75);
}

.card {
  /*About page theme*/
  background-color: transparent;
  border: none;
}

.border-md-right {
  /*Borders between nav items*/
  border-right: 1px solid rgba(255, 255, 255, 0.55);
}

.col {
  /*Center text on every column*/
  text-align: center;
}

.fa-dark {
  /*Color theme*/
  color: #d21122;
}

.button-red {
  /*Color theme*/
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: #d21122;
}

.fa-light {
  /*Color theme*/
  color: #000000;
}

.nav-link {
  /*Color theme*/
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

a {
  /*Color theme*/
  color: #00b7ff;
}

/*HEADER*/

.img-fluid {
  max-width: 63%;
}

/*FOOTER*/

#footer-text {
  font-size: 0.63em;
}

.footer-link {
  float: left;
}

footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
}

footer a:hover {
  color: rgba(255, 255, 255, 0.75);
}

/*NEW SURVEY PAGE*/

.btn-thumbnail {
  background-color: rgba(128, 128, 128, 0.295);
  height: 12rem;
  border: none;
  border-radius: 1rem;
}

.btn-thumbnail:hover {
  background-color: rgb(46, 46, 46);
}

#survey-information {
  background-color: rgba(128, 128, 128, 0.295);
  margin-left: -10%;
  margin-right: 10%;
  margin-top: 3rem;
  border-radius: 1rem;
  top: 2rem;
  width: 100%;
}

#question-type {
  padding: 2rem;
  height: 150px;
  width: fit-content;
  border: rgba(128, 128, 128, 0.295);
  border-width: 0.2rem;
  border-style: solid;
  margin: 2rem auto;
  border-radius: 2rem;
}

#short-answer {
  width: 20rem;
  margin: 0 auto;
}

#trash-icon {
  line-height: 12rem;
  color: #d21122;
}

#btn-new-question * {
  color: #d21122;
}

#question-body {
  height: 10rem;
}

textarea {
  border-radius: 1rem;
  padding: 1.2rem;
}

.form-check-label {
  width: -webkit-fill-available;
}

.option-icon p {
  line-height: 2.5rem;
}

/*ABOUT PAGE*/

.card {
  width: 10rem;
}

#google-maps {
  margin: 0 5rem;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*LOGIN PAGE*/

.login-dark form {
  max-width: 320px;
  width: 30%;
  background-color: #1e2833;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.login-dark .illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #2980ef;
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: #d21122;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover,
.login-dark form .btn-primary:active {
  background: #d21122;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover,
.login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

/*RESPONSIVE*/

@media (max-width: 768px) {
  .mobile-order-0 {
    order: 0;
  }
  .mobile-order-1 {
    order: 1;
  }
  .mobile-order-2 {
    order: 2;
  }
  .mobile-order-3 {
    order: 3;
  }
  .mobile-order-4 {
    order: 4;
  }
  .border-md-right {
    /*Borders between nav items*/
    border-right: none;
  }
  #google-maps {
    margin: 0;
  }
  #account-text {
    display: none;
  }
  .footer-link {
    float: none;
  }
  #footer-text {
    margin-top: 1em;
  }
  body {
    padding: 0;
  }
  #survey-information {
    margin-left: initial;
    margin-right: initial;
  }
}
