body {
  font: 14px "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  background-color: #212529;
  color: #ecebe8;
  padding: 3rem;
}

a {
  color: #00b7ff;
}

.navbar.center .navbar-inner {
  text-align: center;
}

.border-md-right {
  border-right: 1px solid silver;
}

@media (max-width: 768px) {
  .border-md-right {
    border-right: none;
  }
}

.nav-title-top {
  color: rgba(255, 255, 255, 0.55);
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: absolute;
  width: 100%;
  top: 5%;
  display: block;
  text-align: center;
}

.nav-title-bottom {
  color: rgba(255, 255, 255, 0.55);
  width: 100%;
  top: 7%;
  text-align: center;
}
.nav-float {
  padding-left: 100px;
}

#navbar-main-menu {
  margin-top: 5rem;
}

#carousel {
  margin-bottom: 5rem;
}

.home-title {
  text-align: center;
  font: 14px "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
}

.carousel-indicators {
  bottom: -5rem;
}

.col {
  text-align: center;
}

.fa-dark {
  color: #d21122;
}

.fa-light {
  color: #000000;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.btn-xl {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: #d21122;
}
.btn-start-here {
  text-align: center;
}

.footer-text {
  text-align: center;
  font-family: Poppins;
  font-size: small;
}
.nav-item-black {
  color: rgba(255, 255, 255, 0.55);
}

.normal-text {
  font-size: medium;
}

#member-card {
  background-color: transparent;
  border: none;
}

.mapouter {
  margin: 2rem auto;
}

.gmap_canvas {
  margin-bottom: 2rem;
}

p {
  line-height: 1.6;
}

#survey-information {
  background-color: rgba(128, 128, 128, 0.295);
  margin-left: -10%;
  margin-right: 10%;
  margin-top: 3rem;
  border-radius: 1rem;
  top: 2rem;
}

.btn-thumbnail {
  background-color: rgba(128, 128, 128, 0.295);
  height: 12rem;
  border: none;
  border-radius: 1rem;
}

.btn-thumbnail:hover {
  background-color: rgb(46, 46, 46);
}

#question-type {
  padding: 2rem;
  height: 150px;
  width: fit-content;
  border: rgba(128, 128, 128, 0.295);
  border-width: 0.2rem;
  border-style: solid;
  margin: 2rem auto;
  border-radius: 2rem;
}

textarea {
  border-radius: 1rem;
  padding: 1.2rem;
}

#short-answer {
  width: 20rem;
  margin: 0 auto;
}

#trash-icon {
  line-height: 12rem;
  color: #d21122;
}

#btn-new-question * {
  color: #d21122;
}

#question-body {
  height: 10rem;
}

.login-dark form {
  max-width: 320px;
  width: 30%;
  background-color: #1e2833;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.login-dark .illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #2980ef;
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: #d21122;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover,
.login-dark form .btn-primary:active {
  background: #d21122;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover,
.login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

.question-text {
  font-size: 28px;
}

.answer-text {
  font-size: 28px;
}
