<div class="row d-flex text-center justify-content-center h1">
  <div class="col-md-3">
    <div class="d-flex justify-content-center">
      <span class="fa-stack fa-3x">
        <i class="fas fa-circle fa-stack-2x fa-light"></i>
        <i class="fas fa-user-alt fa-stack-1x fa-dark"></i>
      </span>
    </div>
    <h5>Project Manager<br />Christy Paul</h5>
    <a href="#" class="btn btn-primary">Your link here</a>
  </div>
  <div class="col-md-3">
    <div class="d-flex justify-content-center">
      <span class="about-us-images">
        <img
          src="/assets/images/about_us/DeanPinlac.jpg"
          alt="Photo of Dean Carlo Pinlac"
          width="250rem"
        />
      </span>
    </div>
    <h5>Lead Software Engineer<br />Dean Carlo Pinlac</h5>
    <a href="#" class="btn btn-primary">Your link here</a>
  </div>
</div>

<br />

<div class="row d-flex justify-content-center h2">
  <div class="card text-center" style="width: 18rem">
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <span class="about-us-images">
          <img
            src="/assets/images/about_us/Alessandro Santos.jpg"
            alt="Photo of Alessandro da Silva Santos"
            width="250rem"
          />
        </span>
      </div>
      <h6>UI Programmer<br />Alessandro da Silva Santos</h6>
      <a href="#" class="btn btn-primary">Your link here</a>
    </div>
  </div>
  <div class="card text-center" style="width: 18rem">
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <span class="about-us-images">
          <img
            src="/assets/images/about_us/Junior.jpg"
            alt="Photo of Evilasio Bahia Costa Junior"
            width="250rem"
          />
        </span>
      </div>
      <h6>Database Programmer<br />Evilasio Bahia Costa Junior</h6>
      <a href="#" class="btn btn-primary">Your link here</a>
    </div>
  </div>
  <div class="card text-center" style="width: 18rem">
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <span class="about-us-images">
          <img
            src="/assets/images/about_us/Sanjib Saha.png"
            alt="Photo of Sanjib Saha"
            width="250rem"
          />
        </span>
      </div>
      <h6>Generalist Programmer<br />Sanjib Saha</h6>
      <a href="#" class="btn btn-primary">Your link here</a>
    </div>
  </div>
  <div class="card text-center" style="width: 18rem">
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <span class="about-us-images">
          <img
            src="/assets/images/about_us/Ugur Pekunsal.jpg"
            alt="Photo of Ugur Pekunsal"
            width="250rem"
          />
        </span>
      </div>
      <h6>Web Designer<br />Ugur Pekunsal</h6>
      <a href="#" class="btn btn-primary">Your link here</a>
    </div>
  </div>
</div>

<br />

<div class="text-center">
  <h1>Mission Statement</h1>
  <br />
  <h5>
    Our mission at SAUCED - Integrated Web Design is giving anyone confidence
    and a friendly environment with creativity, originality, and innovation.
  </h5>
</div>

<br /><br />

<div id="google-maps">
  <div class="mapouter text-center">
    <div class="map-responsive">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.3507231186068!2d-79.22862148437878!3d43.78633495182922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d0f21fd9078f%3A0x46e3fe92c0cd2b18!2sCentennial%20College!5e0!3m2!1sen!2str!4v1627130869695!5m2!1sen!2str"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>
</div>

<br /><br />

<div class="row text-center">
  <div class="col-md-8">
    <i class="fas fa-map-marker-alt"></i>
    123 Street, Abc Avenue, Toronto Ontario, Canada 1A2 B3C
    <br />
    <i class="fas fa-phone-alt"></i>
    +1 (234) 567-8910
    <br />
    <i class="fas fa-envelope"></i>
    sauced@domain.com
  </div>
  <br /><br />
  <div class="col-md-4">
    <i class="fab fa-instagram"></i> @saucedotcom
    <br />
    <i class="fab fa-twitter"></i> @saucedotcom
    <br />
    <i class="fab fa-facebook"></i> @saucedotcom
  </div>
</div>

<br />
