<div id="charts">
</div>
<div class="d-flex justify-content-center mt-3">
  <button type="button" class="btn btn-secondary button-red " onclick="generatePDF()">
    Download as PDF
  </button>
</div>
