<hr id="bootstrap-overrides" />

<!--mission statement-->
<p class="home-title">
  Thanks for visiting, start creating surveys<br />
  <br />
  <a href="/survey/create" type="button" class="btn btn-secondary btn-xl"
    >START HERE</a
  >
</p>

<div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/banner2.png" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="assets/images/banner2.png" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="assets/images/banner1.png" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<p class="fw-bolder text-center">Why SAUCED?</p>

<div class="container h1">
  <div class="row">
    <div class="col mobile-order-1">
      <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x fa-light"></i>
        <i class="fas fa-user-secret fa-stack-1x fa-dark"></i>
      </span>
    </div>
    <div class="col mobile-order-2">
      <div class="p-3 center">
        Your privacy is protected at industry standards.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col mobile-order-2">
      <div class="p-3 center">Majority of our code is written in Canada.</div>
    </div>
    <div class="col mobile-order-1">
      <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x fa-light"></i>
        <i class="fab fa-canadian-maple-leaf fa-stack-1x fa-dark"></i>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col mobile-order-1">
      <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x fa-light"></i>
        <i class="fas fa-check fa-stack-1x fa-dark"></i>
      </span>
    </div>
    <div class="col mobile-order-2">
      <div class="p-3 center">We guarantee 99% uptime.</div>
    </div>
  </div>

  <div class="row">
    <div class="col mobile-order-2">
      <div class="p-3 center">Our service is free to use.</div>
    </div>
    <div class="col mobile-order-1">
      <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x fa-light"></i>
        <i class="fas fa-dollar-sign fa-stack-1x fa-dark"></i>
      </span>
    </div>
  </div>
</div>

<br /><br />
<div class="btn-start-here">
  <a href="/survey/create" type="button" class="btn btn-secondary btn-xl"
    >START HERE</a
  >
</div>
<br /><br />
