<div class="normal-text">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="card" id="survey-information" style="width: 14rem">
          <div class="card-body">
            <h5 class="card-title">Survey Information</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-10" id="main-section">
        <div class="container">
          <div class="row">
            <div class="col-8">
              <p>Description</p>

              <textarea id="description" name="description" rows="8" cols="50">
Put a short description of your survey here.
                    </textarea
              >
            </div>
            <div class="col-4">
              <p>Thumbnail</p>
              <div class="d-grid gap-2">
                <button class="btn btn-primary btn-thumbnail" type="button">
                  <i class="fas fa-plus fa-2x"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <p class="text-center">
          Start by selecting the plus (+) button and the type of question you
          wish to add to your new survey.
        </p>
        <br /><br />
      </div>
    </div>
  </div>
</div>
