<div class="signup-dark">
<form method="post">
    <!-- message area -->
    <% if(messages.length > 0) { %>
        <div id="messageArea" class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>
    
    <h2 class="sr-only">Sign Up Form</h2>
    <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
    <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username" required></div>
    <div class="form-group"><input class="form-control" type="text" name="firstName" placeholder="First Name" required></div>
    <div class="form-group"><input class="form-control" type="text" name="lastName" placeholder="Last Name" required></div>
    <div class="form-group"><input class="form-control" type="text" name="birthday" placeholder="Birthday" required></div>
    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" required></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" required></div>
    <div class="form-group row justify-content-center"><button class="btn btn-primary btn-block" type="submit">Sign Up</button></div>
    <a href="/login" class="login forgot">Have as login already? Click Here!</a>
</form>
</div>

